@model IEnumerable<HelpDesk.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Ticket")
</p>
<table class="table table-striped table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Summary, "View", "Ticket", new { ticketId = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink(item.Description, "View", "Ticket", new { ticketId = item.Id }, null )
            </td>
        </tr>
    }

</table>
